# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Vim files
*.swp
Session.vim
tags

# Wok specific

# Test files
.wok_test/

# Pyinstaller folders and files
build
dist
wok.spec
