[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
restview = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
isort = "*"
pyment = "*"
pyinstaller = "*"

[packages]
tabulate = "*"

[requires]

[scripts]
readme = "restview ./README.rst"
test = "python -m unittest -v"
autotest = "./scripts/autotest.sh"
clean = "rm -rf build/ dist/"
build = "pyinstaller -n wok -F wokcli/wokcli.py"

[pipenv]
allow_prereleases = true
